@import "tailwindcss";

:root {
  --dark: #111111;
  --dark-alternate: #1B1918;
  --primary: #FF5F3F;
  --primary-light: #F4EBEB;
}
@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

*{
  @apply font-poppins;
}

/* INPUT GROUP */
.input-group label {
  @apply block text-xs mb-1;
}

.input-group input,
.input-group select,
.input-group textarea {
  @apply px-4 py-3 bg-gray-400 rounded-md focus:border-gray-500 outline-0 text-sm;
}